<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.czj.mapper.VideoMapper">
    <sql id="detailsFieldSql">
        id,uid,play_num, danmu_num, comment_num, praise_num, coin_num, category_p_id, category_id, category_p_name, category_name, title, urls, description, tags, resolution_state create_time, update_time,length
    </sql>
    <sql id="basicFieldSql">
                id,uid, play_num,praise_num,title,resolution_state,update_time,length
    </sql>
    <select id="findDetailsById" parameterType="long" resultType="pers.czj.dto.VideoDetailsOutputDto">
        SELECT
            <include refid="detailsFieldSql"/>
            FROM video WHERE id = #{id}
    </select>

    <select id="listRandomByCategoryPId" parameterType="long" resultType="pers.czj.dto.VideoDetailsOutputDto">
        SELECT
        <include refid="basicFieldSql"/>
        FROM video AS t1 JOIN (SELECT ROUND(RAND() * (SELECT MAX(id) FROM video)) AS id) AS t2
        WHERE category_p_id = #{id} AND t1.id >= t2.id
        ORDER BY t1.id ASC LIMIT 8;
    </select>
</mapper>